* {
  background-color: var(--background_color);
  /* text-align: center; */
  font-family: Helvetica, Arial, sans-serif;
}

:root {
  --general_color: #549c1c;
  --background_color: #eaeaea;
  --background_second_color: #8b8a84;
}

.header {
  padding: 20px;
  text-align: center;
}

.button {
  border: 2px solid var(--background_color);
  border-radius: 10px;
  background-color: var(--background_color);
  color: var(--general_color);
  /* padding: 16px 25px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: normal;
  /* margin: 4px 2px; */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: var(--general_color);
  color: var(--background_color);
}

.footer {
  padding: 20px;
  text-align: center;
}

.column {
  float: left;
  column-count: 1;
  padding: 20px;
}

.row {
  content: "";
  display: table;
  clear: both;
  margin-left: auto;
  margin-right: auto;
}

.special-color {
  color: var(--general_color);
}

/* .clickBox {
  font-weight: normal;
  background-color: var(--primary-low);
  top: -1px;
  color: var(--primary-medium);
  position: relative;
  border: none;
  border-top-color: currentcolor;
  border-top-style: none;
  border-top-width: medium;
  border-right-color: currentcolor;
  border-right-style: none;
  border-right-width: medium;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: medium;
  border-left-color: currentcolor;
  border-left-style: none;
  border-left-width: medium;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
} */
/*.clickBox {
  padding: 0.21em 0.42em;
  min-width: 0.5em;
  color: #8b8a84;
  font-size: 10px;
  /* line-height: 5px; */
/*text-align: center;
  /* vertical-align: middle; */
/*background-color: #d7d7d7; 
  display: inline-block;
  font-weight: normal;
  white-space: nowrap;
  border-radius: 10px;
}

/* .vertical-divider {
  border-right: 5px solid #549c1c;
} */

/* @media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
} */