name: Compile Latex and Release PDF  


on: 
  push:
    branches:
      - main
      
jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v2
      - name: Delete
        uses: dev-drprasad/delete-older-releases@v0.2.0
        with:
          keep_latest: 1
          delete_tags: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v2
        with:
          root_file: | 
            main.tex
            Mathematics/1st/Fundamentals_of_mathematics/Fundamentals_of_mathematics.tex
            Mathematics/1st/Linear_algebra/Linear_algebra.tex
            Mathematics/1st/Real-valued_functions/Real-valued_functions.tex

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.run_number }}
          release_name: Release ${{ github.run_number }}
          draft: false
          prerelease: false

      - name: Upload asset to release
        uses: csexton/release-asset-action@v2
        with:
          release-url: ${{ steps.create_release.outputs.upload_url }}
          files: | 
            main.pdf
            Fundamentals_of_mathematics.pdf
            Linear_algebra.pdf
            Real-valued_functions.pdf
          github-token: ${{ secrets.GITHUB_TOKEN }}
